//text
$text-c1-light: #ffffff;
$text-c2-light: #f6f6f6;
$text-c3-light: #cbc9c9;
$text-c4-light: #fffcfc;
$text-c5-light: #fff8f8;
$text-c1-dark: #000000;
$text-c2-dark: #140101;
$text-c3-dark: #1e1d1d;
$text-c1-secondary: #1ed90e;
$text-c2-secondary: #fc0303;
$text-c3-secondary: #f50e0e;
$text-footer: #f16b16;

//Font weight
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

//font size
$text-normal: 16px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-product-primary: 24px;

//background
$bg-c1-dark: #000000;

$bg-c1-light: #f5f5f5;
$bg-c2-light: #f8f8f8;
$bg-c3-light: #dedddc;
$bg-c4-light: #cccccc;
$bg-c5-light: #d9d9d9;

$bg-c1-primary: #f8b653;
$bg-detail-primary: #AE18E2;