@import "./base/base";
@import "./abstract/variable";
@import "./abstract/mixin";

// Header
.header {
  max-width: 100%;
  height: 50px;
  background-color: $bg-c1-dark;
  position: relative;
  .container-fluid {
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    .logo {
      margin: 10px 0 8px 24px;
      width: 116px;
      height: 32px;
    }
    .header-item {
      width: 260px;
      height: 50px;
      margin-right: 20px;
      img {
        width: 31px;
        height: 31px;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          margin-left: 60%;
        }
        @media screen and (max-width: 300px) {
          margin-left: 25%;
        }
      }
      span {
        @include text($text-3xl, $text-light, $text-c1-light);
        display: inline-block;
        margin: 6px 0 8px;
        line-height: 36.31px;
        margin-right: 10px;
      }
      .header-links {
        display: inline-block;
        @media screen and (max-width: 768px) {
          display: none;
        }
        .header-login {
          @include text($text-normal, $text-light, $text-c2-light);
          margin-top: 15px;
          line-height: 19.36px;
          margin-right: 30px;
          display: inline-block;
          @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
        .header-register {
          @include text($text-normal, $text-light, $text-c2-light);
          margin-top: 15px;
          line-height: 19.36px;
          display: inline-block;
          @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
            padding-bottom: 40px;
          }
        }
      }
      .nav-active {
        display: block;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 100;
        background-color: $bg-c1-dark;
        animation: fadeIn 2s;
      }
      i {
        @include text($text-normal, 0, $text-c2-light);
        position: absolute;
        right: 20px;
        top: 15px;
        display: none;
        @media screen and (max-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//menu
.menu {
  background-color: $bg-c1-light;
  @media screen and (max-width: 500px) {
    padding-top: 14px;
  }
  .container {
    max-width: 100%;
    padding-left: 0;
    a {
      display: inline-block;
      @include text($text-2xl, $text-regular, $text-c1-dark);
      padding-bottom: 10px;
      padding-top: 16px;
      @media screen and (max-width: 500px) {
        display: block;
      }
    }
    .menu-home {
      margin-left: 25px;
      border-bottom: 1px solid #000000;
      @media screen and (max-width: 500px) {
        display: inline;
      }
    }

    .menu-men {
      margin-left: 24px;
      @media screen and (max-width: 500px) {
        margin-top: 16px;
      }
    }
    .menu-woman {
      margin-left: 37px;
      @media screen and (max-width: 500px) {
        margin-left: 24px;
      }
    }
    .menu-kid {
      margin-left: 39px;
      @media screen and (max-width: 500px) {
        margin-left: 24px;
      }
    }
    .menu-sport {
      margin-left: 40px;
      @media screen and (max-width: 500px) {
        margin-left: 24px;
      }
    }
  }
}

//Carousel
.carousel {
  margin-bottom: 30px;
  .carousel-indicators {
    button {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      top: 50%;
      z-index: 200;
      margin-bottom: 88px;
      background-color: rgba(217, 217, 217, 0);
      border: 1px solid rgba(0, 0, 0, 0.13);
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    .carousel-button {
      margin-left: 23px;
      margin-right: 17px;
    }
  }
  .carousel-inner {
    .carousel-item {
      max-width: 100%;
      height: 500px;
      position: relative;
      @media screen and (max-width: 768px) {
        height: 300px;
      }
      img {
        max-width: 100%;
        position: absolute;
        height: 392px;
        left: calc(86 / 1280 * 100%);
        top: 5px;
        @media screen and (max-width: 768px) {
          left: 0;
          max-height: 100%;
        }
        @media screen and (max-width: 300px) {
          max-width: 350px;
        }
      }
      .text {
        position: absolute;
        left: calc(930 / 1280 * 100%);
        top: 124px;
        @media screen and (max-width: 992px) {
          display: none;
        }
        h2 {
          @include text($text-4xl, $text-light, $bg-c1-dark);
          line-height: 48.41px;
        }
        p {
          @include text($text-2xl, $text-light, $bg-c1-dark);
          line-height: 24.2px;
          margin-bottom: 30px;
        }
        button {
          @include button(
            $text-2xl,
            $text-light,
            $text-c1-light,
            $bg-c1-primary,
            13px 35px,
            1px solid #f8b653,
            0
          );
          position: relative;
          z-index: 100;
        }
      }
      .carousel-background {
        position: absolute;
        width: (1334/1280 * 100%);
        height: (393/500 * 100%);
        left: 0;
        top: 127px;
        @media screen and (max-width: 768px) {
          top: 50px;
        }
      }
    }
  }
  .carousel-control-prev {
    img {
      position: absolute;
      left: 18px;
      top: 175px;
      @media screen and (max-width: 768px) {
        top: 100px;
      }
    }
  }
  .carousel-control-next {
    img {
      position: absolute;
      right: 12.86px;
      top: 175px;
      @media screen and (max-width: 768px) {
        top: 100px;
      }
    }
  }
}

//product
.product {
  padding-bottom: 104px;
  padding: 0 15px;
  .container {
    h2 {
      text-align: center;
      margin: 16px 0 90px;
      @include text($text-4xl, $text-regular, $text-c1-dark);
      @media screen and (max-width:400px) {
        font-size: $text-3xl;
        margin-top:30px;
      }
    }
    .row {
      @media screen and (max-width: 768px) {
        display: block;
      }
      .col {
        margin-bottom: 50px;
        @media screen and (max-width: 1280px) {
          width: 50%;
        }
        @media screen and (max-width: 768px) {
          max-width: 100%;
          margin-left: (217 / 1280 * 100%);
          width: 100%;
          margin: 0;
          margin-bottom: 50px;
          padding: 0;
        }
        .card {
          width: 334px;
          height: 100%;
          padding: 45px 57px 0;
          background-color: $bg-c2-light;
          @media screen and (max-width: 1280px) {
            margin-right: calc(117.5 / 1280 * 100%);
          }
          @media screen and (max-width: 992px) {
            margin-left: -2%;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
          }
          @media screen and (max-width: 400px) {
            padding: 0;
          }
          img {
            width: 100%;
          }
          .card-body {
            margin-left: -34px;
            padding: 0;
            @media screen and (max-width: 400px) {
              margin-right: 0;
              margin-left: 0;
            }
            h5 {
              margin: 30px 0 8px;
              @include text(
                $text-product-primary,
                $text-light !important,
                $text-c1-dark
              );
              line-height: 29.05px;
              height: 58.09px;
              @media screen and (max-width:400px) {
                padding: 0 10px;
              }
            }
            p {
              margin-bottom: 13px;
              @include text($text-2xl, $text-light, $text-c3-light);
              line-height: 29.05px;
              height: 129.19px;
              @media screen and (max-width:400px) {
                padding: 0 10px;
              }
            }
          }
          .card-body2 {
            display: flex;
            height: 64px;
            margin-left: -57px;
            margin-right: -57px;
            @media screen and (max-width: 400px) {
              margin-right: 0;
              margin-left: 0;
              max-width: 100%;
            }
            a {
              @include button(
                $text-product-primary,
                $text-extra-light,
                $text-c1-dark,
                $bg-c1-primary,
                17px 27px 17px 39px,
                1px solid transparent,
                0
              );
              width: calc(175 / 334 * 100%);
              line-height: 29.05px;
              @media screen and (max-width: 400px) {
                padding: 17px 0;
                max-width: 50%;
              }
            }
            span {
              @include button(
                $text-product-primary,
                $text-semibold,
                $text-c1-dark,
                $bg-c3-light,
                17px 0 17px 66px,
                1px solid transparent,
                0
              );
              width: calc(160 / 334 * 100%);
              line-height: 29.05px;
              @media screen and (max-width: 400px) {
                padding: 17px 30px 0 20px;
                width: 50%;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

//footer

.footer {
  .footer-main {
    background-color: $bg-c2-light;
    .container {
      .row {
        padding: 20px 40px;
        @media screen and (max-width: 992px) {
          padding: 20px 0;
        }
        .col-md-4 {
          .item {
            h2 {
              @include text($text-2xl, $text-bold, $text-c1-dark);
              margin-bottom: 15px;
            }
            p {
              margin-bottom: 10px;
              @include text($text-normal, $text-regular, $text-c1-dark);
            }
            .link {
              @include text($text-normal, $text-regular, $text-footer);
            }
          }
          .item-1 {
            height: 100%;
            border-right: 1px solid #cbc9c9;
            @media screen and (max-width: 767.9px) {
              border: none;
            }
          }
        }
        .col-12 {
          margin-bottom: 20px;
        }
      }
    }
  }
  .footer-bottom {
    background-color: $bg-c3-light;
  }
}

//register
.register {
  // .container-fluid {
  //   h2 {
  //     margin-top: 30px;
  //     text-align: center;
  //     @include text($text-4xl, $text-regular, $text-c1-dark);
  //   }
  //   form {
  //     margin: 60px 0 27px;
  //     margin-left: calc(120 / 1280 * 100%);
  //     input {
  //       width: calc(482 / 1280 * 100%);
  //       margin-right: calc((100 / 1280 * 100%));
  //       height: 50px;
  //       margin-bottom: 30px;
  //       border-top: none;
  //       border-left: none;
  //       border-right: none;
  //       border-bottom: 5px solid;
  //       outline: none;
  //       border-image-slice: 1;
  //       border-image-source: linear-gradient(
  //         90deg,
  //         rgba(255, 255, 255, 1) 0%,
  //         rgba(174, 24, 226, 1) 100%
  //       );
  //       &::placeholder {
  //         @include text($text-3xl, $text-regular, $text-c1-dark);
  //       }
  //     }
  //     span {
  //       @include text($text-2xl, $text-regular, $text-c3-secondary);
  //       position: relative;
  //       left: calc((-132 / 1280 * 100%));
  //     }
  //     .gender {
  //       display: inline;
  //       width: (544 / 1280 * 100%);
  //       strong {
  //         display: inline-block;
  //         @include text($text-3xl, $text-regular, $text-c1-dark);
  //         margin-right: 28px;
  //       }
  //       label {
  //         @include text($text-3xl, $text-regular, $text-c1-dark);
  //       }
  //       .radio-custom {
  //         display: inline-block;
  //         position: relative;
  //         cursor: pointer;
  //         font-size: 30px;
  //         user-select: none;
  //         padding-left: 40px;
  //         margin-right: 48px;
  //         margin-left: 28px;
  //       }
  //       .radio-custom input {
  //         position: absolute;
  //         opacity: 0;
  //         cursor: pointer;
  //       }
  //       .checkmark {
  //         position: absolute;
  //         top: 0;
  //         left: -35px;
  //         width: 65px;
  //         height: 50px;
  //         background: #eee;
  //         border-radius: 50%;
  //       }
  //       .radio-custom:hover .checkmark {
  //         background: #ccc;
  //       }
  //       .checkmark:after {
  //         content: "";
  //         position: absolute;
  //         display: none;
  //       }
  //       .radio-custom .checkmark:after {
  //         top: 50%;
  //         left: 50%;
  //         width: 39.25px;
  //         height: 30px;
  //         border-radius: 50%;
  //         border: solid 3px #ae18e2;
  //         transform: translate(-50%, -50%);
  //         background-color: #ae18e2;
  //       }
  //       .radio-custom input:checked ~ .checkmark {
  //         background: $bg-c5-light;
  //       }
  //       .radio-custom input:checked ~ .checkmark:after {
  //         display: block;
  //       }
  //     }
  //   }
  //   button {
  //     display: block;
  //     margin-left: calc(700 / 1280 * 100%);
  //     height: 50px;
  //     width: 290px;
  //     @include button(
  //       $text-3xl,
  //       $text-regular,
  //       $text-c4-light,
  //       $bg-detail-primary,
  //       0,
  //       1px solid $bg-detail-primary,
  //       0
  //     );
  //     margin-bottom: 40px;
  //     margin-top: 60px;
  //   }
  // }
  h2 {
    text-align: center;
    margin-top: 30px;
    @include text($text-4xl, $text-regular, $text-c1-dark);
  }
  .container {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 992px) {
      display: block;
    }
    .col-l {
      @media screen and (max-width: 1200px) {
        max-width: 50%;
      }
      @media screen and (max-width: 992px) {
        max-width: 100%;
      }
      input {
        border: none;
        border-bottom: 4px solid #ae18e2;
        outline: none;
        width: 400px;
        padding: 10px 0;
        font-size: 20px;
        margin-bottom: 23px;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }
      span {
        position: absolute;
        right: 0;
        top: 10px;
        @include text($text-2xl, $text-4xl, $text-c3-secondary);
      }
    }
    .col-r {
      @media screen and (max-width: 1200px) {
        max-width: 50%;
      }
      @media screen and (max-width: 992px) {
        max-width: 100%;
      }
      .name,
      .phone {
        height: 77px;
        position: relative;
        width: 100%;
      }
      input {
        border: none;
        border-bottom: 4px solid #ae18e2;
        outline: none;
        padding: 10px 0;
        padding-right: 200px;
        font-size: 20px;
        margin-bottom: 23px;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }
      span {
        position: absolute;
        right: 30px;
        top: 10px;
        @include text($text-2xl, $text-4xl, $text-c3-secondary);
        @media screen and (max-width: 1200px) {
          right: 0;
        }
      }
      .gender {
        margin-top: 33px;
        font-size: $text-2xl;
        padding-right: 20px;
        width: 100%;
        .form-check {
          padding: 0;
        }
        input {
          margin: 0 60px;
          border: 2px solid #ae18e2;
          margin-bottom: 80px;
          margin-left: 30px;
          @media screen and (max-width: 992px) {
            width: 70vw;
          }
        }
        .form-check-label {
          @include text($text-3xl, $text-regular, $text-c1-dark);
          @media screen and (max-width: 1200px) {
            font-size: $text-2xl;
          }
          width: 100%;
        }
        .radio-custom {
          display: inline-block;
          position: relative;
          cursor: pointer;
          font-size: 30px;
          user-select: none;
          padding-left: 40px;
          margin-left: 28px;
          max-width: 100%;
          @media screen and (max-width: 1200px) {
            font-size: $text-2xl;
            margin-left: 10px;
          }
          @media screen and (max-width: 992px) {
            margin-right: 20px;
          }
          @media screen and (max-width: 500px) {
            display: block;
            margin-top: 40px;
          }
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            @media screen and (max-width: 992px) {
              width: 100%;
            }
            @media screen and (max-width: 992px) {
              width: 70%;
            }
          }
          .checkmark {
            position: absolute;
            top: -10px;
            left: -35px;
            width: 65px;
            height: 50px;
            background: #eee;
            border-radius: 50%;
            margin-left: 30px;
            &::after {
              content: "";
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              width: 39.25px;
              height: 30px;
              border-radius: 50%;
              border: solid 3px #ae18e2;
              transform: translate(-50%, -50%);
              background-color: #ae18e2;
            }
          }
          input:checked ~ .checkmark:after {
            display: block;
          }
          label {
            margin-left: 30px;
          }
        }
      }
      .submit {
        margin: 85px 0 40px;
        a {
          text-decoration: none;
          color: #fff;
          background-color: #ae18e2;
          font-size: 20px;
          padding: 10px 80px;
        }
      }
    }
  }
}

// detail
.detail {
  .container-fluid {
    .row {
      .col-lg-5 {

        // width: calc(334px);
        padding-top: 58px;
        padding-left: calc(65 / 1280 * 100%);
        margin-bottom: calc(117 / 1280 * 100%);
        padding-right: calc(127 / 1280 * 100%);
        @media screen and (max-width:992px) {
          margin-bottom: 0;
        }
        img {
          width: 100%;
        }
      }
      .col-lg-7 {
        margin-top: 67px;
        @media screen and (max-width:992px) {
          padding-left: 10%;
        }
        h2 {
          @include text($text-3xl, $text-light, $text-c1-dark);
          margin-bottom: 10px;
        }
        .product-desc {
          @include text($text-normal, $text-regular, $text-c2-dark);
        }
        .size-text {
          @include text(
            $text-product-primary,
            $text-medium,
            $text-c1-secondary
          );
          margin-bottom: 15px;
        }
        .size {
          a {
            @include button(
              $text-product-primary,
              $text-semibold,
              $text-c3-dark,
              $bg-c4-light,
              10px,
              1px solid $bg-c4-light,
              0
            );
            width: 50px;
            height: 50px;
            @media screen and (max-width:576px) {
              display: inline-block;
              margin-bottom: 10px;
            }
            margin-right: 20px;
          }
        }
        .price {
          margin: 15px 0;
          @include text($text-3xl, $text-semibold, $text-c2-secondary);
        }
        .number {
          button {
            @include button(
              $text-3xl,
              $text-regular,
              $text-c4-light,
              none,
              15px,
              1px solid $bg-c4-light,
              0
            );
            height: 50px;
            line-height: 18px;
            width: 50px;
            background: linear-gradient(
              90deg,
              rgba(97, 129, 243, 1) 100%,
              rgba(124, 151, 245, 1) 100%
            );
            margin-right: 20px;
          }
          span {
            margin-right: 20px;
            @include text($text-3xl, $text-regular, $text-c1-dark);
          }
        }
        .addToCart {
          margin-top: 7px;
          button {
            @include button(
              $text-product-primary,
              $text-medium,
              $text-c5-light,
              none,
              18px 24px,
              1px solid transparent,
              0
            );
            background: linear-gradient(
              270deg,
              rgba(62, 32, 248, 0.9) 5.14%,
              #d017ee 89.71%
            );
          }
        }
      }
    }
  }
}
